torch
torchvision
transformers
einops
icecream
flask
ruamel.yaml
uvicorn
fastapi
markdown2
gradio
sconf
h5py
sentencepiece
decord
chardet
cchardet
accelerate
safetensors
tqdm
omegaconf
wandb
bitsandbytes